.header {
    width: 100%;
    height: var(--header-height);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;         /* Changed from relative to fixed */
    top: 0;                  /* Stick to the top of the page */
    left: 0;
    z-index: 1000;    
}

.header.not-at-top {
    background-color: var(--accent-color);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
    transition: box-shadow 0.3s ease;
}

.header-navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-left: 20px;
}

.header-navigation__logo {
    height: 100%;
    padding: 15px 0;
    transition: all 0.3s ease-in;
}

.header-navigation__logo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.header-navigation__logo img {
    height: 100%;
}

.header.not-at-top .header-navigation__logo img {
    filter: brightness(100);
}

.header-navigation__menu ul {
    list-style: none;
    padding: 0;
}

.header-navigation__menu ul li {
    display: inline-block;
    margin-right: 40px;
    transition: all 0.3s ease-in;
}

.header-navigation__menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent-color);
}

.header.not-at-top .header-navigation__menu ul li a {
    color: var(--secondary-text-color);
}

.header-navigation__menu ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.contact-us-btn {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: auto 0;
    padding: 10px 20px;
    transition: all 0.3s ease-in;

    margin-right: 20px;
}

.header.not-at-top .contact-us-btn {
    background-color: var(--secondary-text-color);
    color: var(--accent-color);
}

.contact-us-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}