:root {
    --accent-color: #ed9393;
    --deep-accent-color: #cc7272;
    --background-color: #e9e9e9;
    --alternate-background-color: #141414;
    
    --rim-color: #c9c9c9;
    --alternate-rim-color: #6e6e6e;

    --primary-text-color: #141414;
    --secondary-text-color: #e9e9e9;

    --rim-width: 3px;
    --header-height: 80px;
}

/* :root.dark {
    
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--primary-text-color);
}

html, body {
    /* overflow: hidden; */
    /* height: 100%; */
    margin: 0;
    background-color: var(--background-color);
    font-family: "League Spartan", sans-serif;
}

.background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 999;
}

.backToTop:hover {
    background-color: var(--deep-accent-color);
    transform: translateY(-3px);
}