:root {
    --accent-color: #ed9393;
    --background-color: #e9e9e9;
    --alternate-background-color: #141414;
    
    --rim-color: #c9c9c9;
    --alternate-rim-color: #6e6e6e;

    --primary-text-color: #141414;
    --secondary-text-color: #e9e9e9;

    --rim-width: 3px;
    --header-height: 80px;
}

/* :root.dark {
    
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--primary-text-color);
}

html, body {
    /* overflow: hidden; */
    /* height: 100%; */
    margin: 0;
    background-color: var(--background-color);
    font-family: "League Spartan", sans-serif;
}

.background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
