:root {
    --background-color: #141414;
    --alternate-background-color: #e9e9e9;
    
    --rim-color: #c9c9c9;
    --alternate-rim-color: #6e6e6e;

    --primary-text-color: #e9e9e9;
    --secondary-text-color: #141414;
}

:root.dark {
    --background-color: #141414;
    --alternate-background-color: #e9e9e9;
    
    --rim-color: #c9c9c9;
    --alternate-rim-color: #3f3f3f;

    --primary-text-color: #e9e9e9;
    --secondary-text-color: #141414;

    --rim-width: 3px;
    --header-height: 80px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--primary-text-color);
}

html, body {
    /* overflow: hidden; */
    /* height: 100%; */
    margin: 0;
    background-color: var(--background-color);
    font-family: "League Spartan", sans-serif;
}

.bottom-bar {
    position: absolute;
    width: 100%;
    height: var(--rim-width);
    bottom: 0;
    background: linear-gradient(to right, var(--rim-color), var(--alternate-rim-color), var(--rim-color));

}

.top-bar {
    position: absolute;
    width: 100%;
    height: var(--rim-width);
    top: 0;
    background: linear-gradient(to right, var(--rim-color), var(--alternate-rim-color), var(--rim-color));

}

.top-shade {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.bottom-shade {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
